/* .login-page, 
.register-page, 
.password_reset-page{
	background-color: #c84c54;
} */
.login-box{
	width: 82%; 
}
@media (min-width: 768px) {
	.login-box{
		width: 343px;
	}
}
.login-box{
	margin-top: 5.5%;
}
.login-wrapper{
	-webkit-box-shadow: 1px 1px 8px rgba(184,187,194,1);
	-moz-box-shadow: 1px 1px 8px rgba(184,187,194,1);
	box-shadow: 1px 1px 8px rgba(184,187,194,1);
	border-radius: 8px;
}
.login-box-body{
	box-shadow: none;
	padding: 10px 30px 20px;
}
.login-box-heading{
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	color: #a32b44;
	padding: 20px 0 10px;
	background-color: #ffffff;
}
.login-box-body .error-message{
	color: #dd4b39;
	text-align: center;
	margin-top: -20px;
	margin-left: -15px;
    margin-right: -15px;
}
.login-box-body .checkbox{
	margin-top: 8px;
	margin-bottom: 25px;
}
.login-box .panel-footer{
	border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;	
}
.password_reset-page .login-box{
	width: 465px;
	max-width: 90%;
}
.password_reset-page .login-logo{
	text-align: left;
}
.password_reset-page .login-logo h1{
	display: inline-block; 
	/* border: 1px dotted #af2028;  */
	border-radius: 3px
}
.login-logo h1{
	margin: 0;
}
.login-logo h1 a{
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto;
	outline: 0 none;
	padding: 0;
	text-decoration: none;
	text-indent: -9999px;
	height: 109px;
	width: 209px;
	background-size: contain;
}
.btn-login {
	padding-left: 35px;
    padding-right: 35px;
    border-radius: 19px;
	color: #ffffff;
	background-color: #a32b46;
	border-color: #93273f; 
	-webkit-box-shadow: 2px 2px 1px -1px rgba(147,39,63,1);
	-moz-box-shadow: 2px 2px 1px -1px rgba(147,39,63,1);
	box-shadow: 2px 2px 1px -1px rgba(147,39,63,1);
}
.btn-login:hover,
.btn-login:active,
.btn-login:focus,
.btn-login.hover {
	outline: none !important;
	color: #ffffff;
	background-color: #ae2b48; 
}